<nav class="navbar navbar-expand-lg spacing home">
  <div class="container">
    <a class="navbar-brand home-color" href="/"><span class="arrow"><</span>Phezao<span class="arrow">></span></a>
    <button class="navbar-toggler custom-toggler-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
          <a class="nav-link home-link" href="/">Latest</a>
        </li>
        <li class="nav-item mx-3 dropdown">
          <a class="nav-link home-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Entrepreneurship</a>
            <a class="dropdown-item" href="#">Reviews</a>
            <a class="dropdown-item" href="#">Programming</a>
            <a class="dropdown-item" href="#">Product Management</a>
            <a class="dropdown-item" href="#">Personal Finance</a>
            <a class="dropdown-item" href="#">Productivity</a>
          </div>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link home-link" href="{{"/projects/" | relative_url }}">Projects</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link home-link" href="{{"/newsletter/" | relative_url }}">Newsletter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
