.home{
  color: white;
}

nav.home{
  margin-bottom: 96px;
}

.custom-toggler-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-brand{
  font-size: 36px;
  font-weight: 600;
}

.arrow{
  font-size: 42px;
}

.nav-link{
  font-size: 20px;
  font-weight: 500;
  color: #EEEEEE;
}

.navbar{
  background-color: #FF7B7B;
  a{
    &:hover{
      color: white;
    }
  }
}
