
form{
  margin-top: 48px;
}

input{
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 32px;
}

label{
  display: block;
}

.subscribe{
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 12px 28px;
  background-color: #FF0000;
  transition: .2s;
  &:hover{
    transform: scale(1.1);
  }
}

@media (min-width: 400px) {
  .form{
    margin-right: 48px;
  }
}
