---
layout: default
---
    <div class="container">
      <main class="page-content">
      <h1>Subscribe to receive the latest posts!</h1>
      <p>If you want to receive posts about entrepreneurship, innovation, personal finance, technology in my point of view, subscribe to the newsletter:</p>
      <form action="post">
        <div class="form" style="float: left;">
          <label for="">First name</label>
          <input type="text">
        </div>
        <div class="form" style="float: left;">
          <label for="">E-mail</label>
          <input type="text">
        </div>
        <button type="submit" class="subscribe">Subscribe</button>
      </form>

      </main>
    </div>
